#mupp_neurips
# Python
__pycache__/
*.py[cod]
*.so
MuPPI_dataset.egg-info/*
# Environnements virtuels
venv/
env/
*.venv

# Logs et debug
*.log
*.out
*.err

# Fichiers de config et secrets
.env
*.ini
*.json
*.toml
config.yaml

# Outils de dev
.coverage
*.cover
htmlcov/
mypy_cache/
pytest_cache/
.idea
.gitignore
# Dépendances et artefacts de build
dist/
build/
*.egg-info/
pip-wheel-metadata/

# Datasets et doc
datasets/
data/
docs/
docker/
